#order, #pickup, #summary {
  display: none;
}

body {
  background-color: rgb(228, 215, 187);
}
.container-fluid {
  font-family: 'Roboto', sans-serif;
   background-color: rgb(228, 215, 187);
}

#logo {
  font-family: 'Creepster', cursive;
  margin-top: 20%;
  text-align: center;
}

h2 {
  font-family: 'Creepster', cursive;
  margin-top: 10%;
  margin-bottom: 5%;
  text-align: center;
}

h3 {
  margin-top:3%;
  margin-bottom: 5%;
}


.btn {
  margin-top: 5%;
  margin-bottom: 5%;
}

hr {
  border-top: 1px solid black;
  margin-inline: 10%;
}

.form-select {
  margin: 1%;
}

p {
  margin-top: 1%;
}

/* font-family: 'Creepster', cursive;
font-family: 'Roboto', sans-serif; */